@import url(../../css/global/estilosGlobales.css);

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    width: 100%; 
    height: 200px;
    margin: 25px auto;
}

.banner img {
    height: 100%;
    width: 100%;
}

.perfil-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 1 300px;
    margin-left: 100px;
    max-width: 300px; 
    min-width: 250px;
    margin-right: 20px;
}

.perfil-container .icon-perfil2 {
    display: flex;
    justify-content: left;
    margin-top: -150px;
    max-width: 190px;
    height: 190px;
}

.perfil-container .icon-perfil2 img {
    width: 100%;
    height: 100%;
}

.perfil-container .nombre-membresia {
    text-align: center;
    margin-top: -8px;
    max-width: 290px;
    line-height: 1.2;
}

.perfil-container .nombre-membresia h3 {
    font-size: 25px;
}

.perfil-container .nombre-membresia p {
    font-size: 18px;
    font-weight: 500;
}

.perfil-container .perfil-opciones {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 15px;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.perfil-container .perfil-opciones ul {
    margin: 0 5px;
    list-style: none;
}

.perfil-container .perfil-opciones ul li {
    line-height: 4;
}

.perfil-container .perfil-opciones ul li a {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.perfil-container .perfil-opciones ul li a:hover {
    color: #FFA500;
}