@font-face {
    font-family: Paytone;
    src: url(../../fuente/Paytone_One/PaytoneOne-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #2B2D2F;
    width: 100%;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 30px ;
    height: 75px;
}

header ul img {
    width: 40px;
    margin-left: 25px;
    cursor: pointer;
}

header li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header li {
    margin: 0 15px;
}

header li img {
    height: 25px;

    cursor: pointer;
}

.search-bar {
    display: flex;
    background-color: #ff0000;
    width: 329px;

}

.search-bar image {
    padding-inline: ;
}

.search-bar input {
    border: 0;
    height: 30px;
    width: 300px;
}
