@font-face {
    font-family:Paytone ;
    src: url(../../fuente/Paytone_One/PaytoneOne-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #2B2D2F;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header li {
    margin: 0 15px;
}

header li img {
    height: 25px;

    cursor: pointer;
}

.imagen {
    width: 100%;
    display: flex;
}

.imagen img {
    width: 190vh;
    padding: 0;
    margin: 50px auto;
}

.seccion-productos h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.productos {
    display: flex;
    justify-content: space-between;
    width: 130vh;
    margin: 0 auto;
}

.producto {
    width: 250px;
    display: block;
    border: 1px solid;
    text-align: center;
    background-color: #ffffff;
}

.producto h3 {
    text-align: center;
    line-height: 0;
    font-weight: bolder;
    background-color: #ff0000;
}

.precio {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    text-align: center;

    height: 20px;
    translate: 0 -5px;
}

.precio p {
    color: #FFA500;
    padding: 0;
    font-weight: 700;
}

.precio h4 {
    margin-left: 50px;
    padding: 0;
}

.producto button {
    padding: 3px 27px;
    background-color: #FFA500;
    border-radius: 9px;
    border: 1px solid;
    margin-top: 4px;
    margin-bottom: 30px;
    font-weight: 650;
}


.planes {
    width: 95%;
    display: block;
    margin: 20px auto;
}

.selecciona h2 {
    margin-top: 130px;
    margin-left: 20px;
}

.planes button{
    background-color: #ffffff;
    border-bottom: 1px solid;
    border-top: 0;
    border-inline: 0;
    justify-content: center;
    margin-block: 10px;
}

.beneficios {
    display: flex;
    justify-content: center;
}

.plan {
    background-color: #2B2D2F;
    margin: 0 15px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    align-items: center;
}

.space {

    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    align-items: center;
    
}

.space div {
    display: block;

}

.space button {
    height: 25px;
    margin-left: 10px;
    translate: -9px -15px;
    width: 120px;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #FFA500;
    font-weight: bolder;
}

.space h4 {
    color: white ;
}

.space h2 {
    font-family: Paytone;
    translate: 20px;
    font-size: 32px;
    color: white;
    text-shadow: 5px 5px 10px #131313;

}

.space h2 span {
    color: #FFA500;
}


